body{
    margin: 0px;
}

#bodyPage1{
    display: flex;
    flex-wrap: wrap;
}

#top-bar{
    width: 100vw;
    height: 15vh;
    background-color: rgb(219, 0, 0);
}

#content1{
    display: flex;
}

.side-bar{
    width: 14vw;
    height: 75vh;
    background-color: rgb(153, 0, 0);
}

.content{
    width: 86vw;
    height: 75vh;
    background-color: black;
}

#bottom-bar{
    width: 100vw;
    height: 10vh;
    background-color: rgb(77, 77, 77);
}